* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &::before,
  &::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
}

input,
html,
body {
  font-size: rem(16px);
  letter-spacing: 0.01em;
}

body {
  background-color: $background-color;
  color: $font-color;
}

#root {
  width: 100%;
  height: 100%;
  min-height: 100%;
}
